body {
  background-color: rgb(187, 187, 187);
  font-family: Arial, Helvetica, sans-serif;
}
.top-settings {
  border-radius: 0.4rem;
  line-height: 1.5;
}
.img {
  border-radius: 0.4rem;
}

.youknow {
  background-color: white;
  border-radius: 0.4rem;
}
.bordered {
  border-bottom: 1px solid grey;
}
