body {
  background-color: #f3f2ef;
}

i.fa-pencil-alt:hover,
i.fa-caret-down:hover {
  border-radius: 50%;
  background-color: gainsboro;
  cursor: pointer;
}

.card-header div:nth-child(1):hover {
  text-decoration: underline;
  cursor: pointer;
}

.progressBar > div {
  width: 105px;
  height: 14px;
}

.card {
  border-radius: 10px;
}

.dashBoardContent > div:hover {
  text-decoration: underline;
  cursor: pointer;
}
